@model BestellingDetailViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="detailstitel mb-3 mt-2">
    <h2>Bestelling # @Model.BestelId</h2>
    <h2 class="status-label kleur-status-@Model.BestellingsStatus.Naam">
            @Model.BestellingsStatus.Naam
    </h2>
</div>


   



<div class="detailsoverzicht">
    <div id="bestellingsgegevens">
        <div class="fw-bold">Bestelling</div>
        <div>Datum: @Model.Besteldatum.ToShortDateString()</div>
        <div>Betaalwijze:  @Model.Betaalwijze.Naam</div>
        <div>Betaalcode: @Model.Betalingscode</div>
        <div>Actiecode: @(Model.ActiecodeGebruikt == true ? "Ja" : "Neen")</div>
        <div></div>
        @if ( Model.Annulatiedatum != null && Model.Annulatie == true)
        {
            <div class="housestyle-warning">Deze bestelling werd geannuleerd op @(((DateTime)Model.Annulatiedatum).ToShortDateString())</div>
        }
    </div>
    <div id="contactgegevens">
        @if(Model.Bedrijfsnaam != null)
        {
            <div class="fw-bold">@Model.Bedrijfsnaam</div>
            <div>BTW: @Model.BtwNummer</div>
        }
        <div>@Model.Voornaam @Model.Familienaam</div>
        <div id="leveringsadres">
            <div class="fw-bold">Leveringsadres</div>
            <div>@Model.LeveringsAdres.Straat @Model.LeveringsAdres.HuisNummer</div>
            <div>@Model.LeveringsAdres.Plaats.Postcode @Model.LeveringsAdres.Plaats.Plaatsnaam</div>
        </div>
        <div id="facturatieadres">
            <div class="fw-bold">Facturatieadres</div>
            <div>@Model.FacturatieAdres.Straat @Model.FacturatieAdres.HuisNummer</div>
            <div>@Model.FacturatieAdres.Plaats.Postcode @Model.FacturatieAdres.Plaats.Plaatsnaam</div>
        </div>
    </div>
</div>

<h2>Bestellijnen</h2>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Naam</th>
        <th>Prijs</th>
        <th>Aantal</th>
    </thead>
    <tbody>
        @foreach(Bestellijn lijn in Model.Bestellijnen)
        {
            <tr>
                <td>@lijn.BestellijnId</td>
                <td>@lijn.Artikel.Naam</td>
                <td>@lijn.Artikel.Prijs.ToString("F2")</td>
                <td>@lijn.AantalBesteld</td>
            </tr>
        }
    </tbody>
</table>


@if (Model.BestellingsStatus.Naam == "Lopend" || Model.BestellingsStatus.Naam == "Betaald" && Model.Annulatie == false)
{
    <!-- Button to trigger the popup -->
    <a class="btn btn-success" href="javascript:void(0);" onclick="showModalPopupAnnuleren()">Annuleren</a>
}

<a asp-action="Wijzigen" asp-route-id="@Model.BestelId" class="btn btn-success">Wijzig</a><a asp-action="Index" class="btn btn-success">Terug naar alle bestellingen</a>

<!-- Modal HTML (using Bootstrap) -->
    
    <div class="modal fade" id="annulerenModal" tabindex="-1" role="dialog" aria-labelledby="annulerenModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="annulerenModalLabel">Annuleren Bestelling</h5>
                    <button type="button" class="btn btn-secondary p-1" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    Weet u zeker dat u de bestelling wilt annuleren?
                </div>
                <div class="modal-footer">
                <form asp-action="AnnulerenPopup" method="post">
                    <input type="hidden" name="id" value="@Model.BestelId" />
                    <button type="submit" class="btn btn-success">Ja</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nee</button>
                </div>
            </div>
        </div>
    </div>
