    @model BestellingenViewModel
    @inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Bestellingen"; 
    string? searchvalue = @HttpContextAccessor.HttpContext?.Session.GetString("searchvalue");
    string? sorteervalue = @HttpContextAccessor.HttpContext?.Session.GetString("sorteer");
} 

<h2 class="mb-3 mt-2">Bestellingen</h2>

<div class="formContainer mb-3">
    <form class="SearchForm" method="get">
        @{
            if(searchvalue != null)
            {
                    <input name="searchValue" type="text" class="form-control" id="inputSearch" value="@searchvalue">
            } else
            {
                    <input name="searchValue" type="text" class="form-control" id="inputSearch" placeholder="Vul hier een zoekterm in">
            }
        }
        <select name="sorteer" class="selectOrder form-select" aria-label="selecteer zoek optie">
            <option selected>Selecteer sorteer optie</option>
            <option value="datum">Datum</option>
            <option value="alfabetisch">Alfabetisch</option>
            <option value="status">Status</option>
        </select>
        <button class="btn btn-success">Zoeken</button>
    </form>
</div>


<div class="bestellingen">
    
    @{
        if (@Model.BestellingItems.Count > 0)
        {
            <table class="table table-hover">

                <thead>
                    <tr> <th>ID</th> <th>Besteldatum</th> <th>Klant naam</th> <th>Klant Email</th> <th>Bedrijf Naam</th> <th>BTW Nummer</th> <th>Bestelling status</th></tr>
                </thead>

                <tbody>

                    @if (Model != null && Model.BestellingItems != null)
                    {
                        @foreach (var bestellingItem in Model.BestellingItems)
                        {
                            <tr>
                                <td>@bestellingItem.BestelId</td>
                                <td>@bestellingItem.Besteldatum.ToShortDateString()</td>
                                <td>@bestellingItem.Voornaam @bestellingItem.Familienaam</td>

                                <td>@bestellingItem.Klant.Natuurlijkepersoon?.GebruikersAccount.Emailadres</td>
                                <td>@bestellingItem.Bedrijfsnaam</td>
                                <td>@bestellingItem.BtwNummer</td>
                                <td>@bestellingItem.BestellingsStatus.Naam</td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@bestellingItem.BestelId">
                                        <button class="btn btn-success">Ga naar bestelling</button>
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
        }
        else
        {
            <h2>Niks gevonden</h2>
            
    }
</div>



</div>



