@model IPagedList<BestellingenViewModel>
@inject IHttpContextAccessor HttpContextAccessor
@using X.PagedList.Mvc.Core;
@using X.PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Bestellingen";
    string? searchvalue = @HttpContextAccessor.HttpContext?.Session.GetString("searchvalue");
    string? sorteervalue = @HttpContextAccessor.HttpContext?.Session.GetString("sorteer");
}

<h2 class="mb-3 mt-2">Bestellingen</h2>

<div class="formContainer">
    <form class="SearchForm" method="get">
        @{
            <input name="pageSize" value="ViewBag.pageSize" type="hidden" />
            if (searchvalue != null)
            {
                <input name="searchValue" type="text" class="form-control" id="inputSearch" value="@searchvalue">
            }
            else
            {
                <input name="searchValue" type="text" class="form-control" id="inputSearch" placeholder="Vul hier een zoekterm in">
            }
        }
        <select name="sorteer" class="selectOrder form-select" aria-label="selecteer zoek optie">
            <option selected>Selecteer sorteer optie</option>
            <option value="datum">Datum</option>
            <option value="alfabetisch">Alfabetisch</option>
            <option value="status">Status</option>
        </select>
        <button class="btn btn-success">zoeken</button>
    </form>
</div>


<div class="bestellingen">

    @{
        if (@Model.Count > 0)
        {
            <table class="table table-hover">

                <thead>
                    <tr> <th>ID</th> <th>Besteldatum</th> <th>Klant naam</th> <th>Klant Email</th> <th>Bedrijf Naam</th> <th>BTW Nummer</th> <th>Bestelling status</th></tr>
                </thead>

                <tbody>

                    @if (Model != null && Model != null)
                    {
                        @foreach (var bestelling in Model)
                        {
                            <tr>
                                <td>@bestelling.BestelId</td>
                                <td>@bestelling.Besteldatum.ToShortDateString()</td>
                                <td>@bestelling.Voornaam @bestelling.Familienaam</td>

                                <td>@bestelling.Emailadres</td>
                                <td>@bestelling.Bedrijfsnaam</td>
                                <td>@bestelling.BtwNummer</td>

                                <td>
                                    <p class="status-label kleur-status-@bestelling.BestellingsStatus.Naam" style="border-radius: 2%; text-align: center; color: white;">
                                        @bestelling.BestellingsStatus.Naam
                                    </p>


                                </td>

                                <td>
                                    <a asp-action="Details" asp-route-id="@bestelling.BestelId">
                                        <button class="btn btn-success">Ga naar bestelling</button>
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        }
    }


</div>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
            new
            {
                page = page,
                searchValue = searchvalue,
                sorteer = sorteervalue,
                pageSize = ViewBag.pageSize
            }),
            new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" /* "pagelist-item" */ },
        PageClasses = new string[] { "page-link" /* "pagelist-item" */ }
    })

    <select id="actionSelect" asp-items="ViewBag.PageSizeKeuze">
    </select>

    @section Scripts {
        <script>
            document.getElementById("actionSelect").onchange = function () {
                var selectedValue = this.value;


                if (selectedValue) {
                    var currentUrl = window.location.href;
                    var url = new URL(currentUrl);
                    var params = url.searchParams;
                    params.set('pageSize', selectedValue);
                    params.set('page', "1");
                    url.search = params.toString();
                    window.location.href = url.toString();
                }
            }
        </script>
    }
</div>
