    @model BestellingenViewModel




@{
    ViewBag.Title = "Personen"; 
} 

<div>
    <form class="SearchForm">

        <iput type="text" class="form-control" id="inputSearch" placeholder="Search">Search</iput>

        <select class="selectOptie form-select" aria-label="selecteer zoek optie">
            <option selected>Selecteer zoek optie</option>
            <option>Bedrijfsnaam</option>
            <option>BTW nummer</option>
            <option>Klantnaam</option>
        </select>


        <select class="selectOrder form-select" aria-label="selecteer zoek optie">
            <option selected>Selecteer sorteer optie</option>
            <option>Datum</option>
            <option>Alfabetisch</option>
            <option>Status</option>
        </select>

        <input type="submit" placeholder="zoeken" class="btn btn-success"></input>

    </form>

</div>




    <h2>Bestellingen</h2>


<table class="table table-hover">

    <thead>
        <tr> <th>ID</th> <th>Besteldatum</th> <th>Klant Voornaam</th> <th>Klant Famillienaam</th> <th>Klant Email</th> <th>Bestelling status</th></tr>
    </thead>

    <tbody>

        @foreach(var bestellingItem in Model.BestellingItems) {
                <tr>
                    <td>@bestellingItem.BestelId</td> 
                    <td>@bestellingItem.Besteldatum</td> 
                    <td>@bestellingItem.Klant.Natuurlijkepersoon?.Voornaam</td> 
                    <td>@bestellingItem.Klant.Natuurlijkepersoon?.Familienaam</td> 
                    <td>@bestellingItem.Klant.Natuurlijkepersoon?.GebruikersAccount.Emailadres</td>
                    <td>@bestellingItem.BestellingsStatus.Naam</td>

                <td>
                    <a asp-action="Details" asp-route-id="@bestellingItem.BestelId">
                        <button class="btn btn-success">Ga naar bestelling</button></a></td></tr>
        }
        
    </tbody>
    </table>



