@model IPagedList<Personeelslid>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Personeelslid Accounts";
}

<h2>Personeelslid Accounts</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Voornaam</th>
            <th>Familienaam</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.PersoneelslidAccountId</td>
                <td>@account.Voornaam</td>
                <td>@account.Familienaam</td>
                <td>@account.PersoneelslidAccount.Emailadres</td>
                <td>
                    <a asp-action="PersoneelslidDetails" asp-route-id="@account.PersoneelslidId">
                        <button class="btn btn-success">Details</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="PersoneelslidAanmaken"><button class="btn btn-secondary">Nieuw personeelslid aanmaken</button></a>
<br />

@Html.PagedListPager(Model, page => Url.Action("PersoneelsLeden",
                        new
                        {
                            page = page,
                            // searchValue = searchvalue,
                            // sorteer = sorteervalue,
                            pageSize = ViewBag.pageSize
                        }),
                    new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" /* "pagelist-item" */ },
                    PageClasses = new string[] { "page-link" /* "pagelist-item" */ }
                })

<select id="actionSelect" asp-items="ViewBag.PageSizeKeuze">
</select>

@section Scripts {
    <script>
        document.getElementById("actionSelect").onchange = function () {
            var selectedValue = this.value;


            if (selectedValue) {
                var currentUrl = window.location.href;
                var url = new URL(currentUrl);
                var params = url.searchParams;
                params.set('pageSize', selectedValue);
                params.set('page', "1");
                url.search = params.toString();
                window.location.href = url.toString();
            }
        }
    </script>
}