@model PersoneelslidAccountViewModel
@{
    ViewData["Title"] = "Details";
}

<h2 class="mt-2 mb-3">Details - @Model.Voornaam @Model.Familienaam</h2>

<table class="table">
    <tbody>
        <tr>
            <td><label asp-for="Id"></label></td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td><label asp-for="Voornaam"></label></td>
            <td>@Model.Voornaam</td>
        </tr>
        <tr>
            <td><label asp-for="Familienaam"></label></td>
            <td>@Model.Familienaam</td>
        </tr>
        <tr>
            <td><label asp-for="Securitygroepen"></label></td>
            <td>@string.Join(",", Model.Securitygroepen.Select(s => s.SecurityGroepId))</td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td><label asp-for="Disabled">Geblokkeerd</label></td>
            <td>@(Model.Disabled == true ? "ja" : "nee")</td>
        </tr>
    </tbody>
</table>

<a asp-action="GebruikerWijzigen" asp-route-id="@Model.Id" class="btn btn-secondary">Wijzigen</a>

<a asp-action="PersoneelslidDisabelen" class="btn btn-secondary">Blokkeren</a>

<a asp-action="Personeelsleden" class="btn btn-secondary">Terug</bu></a>

