@model IPagedList<Personeelslid>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@inject IHttpContextAccessor HttpContextAccessor
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Personeelslid Accounts";
    string? searchvalue = @HttpContextAccessor.HttpContext?.Session.GetString("searchvaluePersoneelAdmin");
}

<h2 class="mt-2 mb-3">Personeelslid Accounts</h2>
<div class="formContainer mb-3">
    <form class="SearchForm" method="get">
        @{
            <input name="pageSize" value="@Model!.PageSize" type="hidden" />
            if (searchvalue != null)
            {
                <input name="searchValue" type="text" class="form-control" id="inputSearch" value="@searchvalue">
            }
            else
            {
                <input name="searchValue" type="text" class="form-control" id="inputSearch" placeholder="Vul hier een zoekterm in">
            }
        }
        <select name="sorteer" class="selectOrder form-select" aria-label="selecteer zoek optie">
            <option selected>Selecteer sorteer optie</option>
            <option value="alfabetisch">Alfabetisch</option>
        </select>
        <button class="btn btn-success">zoeken</button>
    </form>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Voornaam</th>
            <th>Familienaam</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.PersoneelslidAccountId</td>
                <td>@account.Voornaam</td>
                <td>@account.Familienaam</td>
                <td>@account.PersoneelslidAccount.Emailadres</td>
                <td>
                    <a asp-action="PersoneelslidDetails" asp-route-id="@account.PersoneelslidId"
                       class="btn btn-success">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    @Html.PagedListPager(Model, page => Url.Action("PersoneelsLeden",
            new
            {
                page = page,
                // searchValue = searchvalue,
                // sorteer = sorteervalue,
                pageSize = ViewBag.pageSize
            }),
            new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" /* "pagelist-item" */ },
        PageClasses = new string[] { "page-link" /* "pagelist-item" */ }
    })

    <select id="actionSelect" asp-items="ViewBag.PageSizeKeuze">
    </select>
</div>

<br />

<div>
    <a asp-action="PersoneelToevoegen" class="btn btn-secondary">Nieuw personeelslid aanmaken</a>
    <a asp-action="AdminPage"><button class="btn btn-secondary">Terug</button></a>
</div>


@section Scripts {
    <script>
        document.getElementById("actionSelect").onchange = function () {
            var selectedValue = this.value;


            if (selectedValue) {
                var currentUrl = window.location.href;
                var url = new URL(currentUrl);
                var params = url.searchParams;
                params.set('pageSize', selectedValue);
                params.set('page', "1");
                url.search = params.toString();
                window.location.href = url.toString();
            }
        }
    </script>
}
