@model PersoneelslidToevoegenAanGroepViewModel
@{
    ViewData["Title"] = "Personeelsleden toevoegen aan Securitygroep";
}

<h1>Personeelsleden toevoegen aan Securitygroep</h1>

<table class="table">
    <thead>
    <th>ID</th>
    <th>Voornaam</th>
    <th>Familienaam</th>
    <th>Email</th>
    <th>SecurityGroepen</th>
    <th>Disabled</th>
    </thead>
    <tbody>
        @foreach (var gebruiker in Model.Personeelsleden)
        {
            <tr>
                <td>@gebruiker.Id</td>
                <td>@gebruiker.Voornaam</td>
                <td>@gebruiker.Familienaam</td>
                <td>@gebruiker.Email</td>
                <td>@string.Join(",", gebruiker.Securitygroepen.Select(s => s.SecurityGroepId))</td>
                <td>@(gebruiker.Disabled == true ? "ja" : "nee")</td>
                <td>
                    <form asp-action="PersoneelslidToevoegen" method="post">
                        <input type="hidden" name="gebruikerId" value="@gebruiker.Id" />
                        <input type="hidden" name="groepId" value="@Model.SecuritygroepId" />
                        <button type="submit" class="btn btn-secondary">Toevoegen</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="SecuritygroepDetails" asp-route-id="@Model.SecuritygroepId" class="btn btn-secondary">Terug</a>