@model PersoneelslidToevoegenAanGroepViewModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Personeelsleden toevoegen aan Securitygroep";
    string? searchvalue = @HttpContextAccessor.HttpContext?.Session.GetString("searchvaluePersoneelToevoegenAdmin");
}

<h2 class="mb-3 mt-2">Toevoegen aan Securitygroep @Model.SecuritygroepNaam</h2>
<div class="formContainer mb-3">
    <form class="SearchForm" method="get">
        @{
            //<input name="pageSize" value="@Model!.PageSize" type="hidden" />
            if (searchvalue != null)
            {
                <input name="searchValue" type="text" class="form-control" id="inputSearch" value="@searchvalue">
            }
            else
            {
                <input name="searchValue" type="text" class="form-control" id="inputSearch" placeholder="Vul hier een zoekterm in">
            }
        }
        <select name="sorteer" class="selectOrder form-select" aria-label="selecteer zoek optie">
            <option selected>Selecteer sorteer optie</option>
            <option value="alfabetisch">Alfabetisch</option>
            <option value="geblokkeerd">geblokkeerd</option>
        </select>
        <button class="btn btn-success">zoeken</button>
    </form>
</div>


<table class="table">
    <thead>
    <th>ID</th>
    <th>Voornaam</th>
    <th>Familienaam</th>
    <th>Email</th>
    <th>SecurityGroepen</th>
    <th>Geblokkeerd</th>
    </thead>
    <tbody>
        @foreach (var gebruiker in Model.Personeelsleden)
        {
            <tr>
                <td>@gebruiker.Id</td>
                <td>@gebruiker.Voornaam</td>
                <td>@gebruiker.Familienaam</td>
                <td>@gebruiker.Email</td>
                <td>@string.Join(",", gebruiker.Securitygroepen.Select(s => s.SecurityGroepId))</td>
                <td>@(gebruiker.Disabled == true ? "ja" : "nee")</td>
                <td>
                    <form asp-action="PersoneelslidToevoegen" method="post">
                        <input type="hidden" name="gebruikerId" value="@gebruiker.Id" />
                        <input type="hidden" name="groepId" value="@Model.SecuritygroepId" />
                        <button type="submit" class="btn btn-secondary">Toevoegen</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="SecuritygroepDetails" asp-route-id="@Model.SecuritygroepId" class="btn btn-secondary">Terug</a>