@model List<ContactpersonenViewModel>
@{
    ViewData["Title"] = "Bedrijf Contacten";
}

<h1>Contact Personen</h1>
<table class="table">
    <thead>
        <th>Voornaam</th>
        <th>Familienaam</th>
        <th>Functie</th>
        <th>Emailadres</th>
    </thead>
    
    <tbody>
        @foreach (ContactpersonenViewModel persoon in Model)
        {
            <tr>
                <td>@persoon.Voornaam</td>
                <td>@persoon.Familienaam</td>
                <td>@persoon.Functie</td>
                <td>@persoon.Emailadres</td>
            </tr>
        }
    </tbody>
    
</table>

<a asp-action="Details" asp-route-id="@ViewBag.KlantId"><button class="btn btn-secondary">Terug</button></a>