@model KlantenViewModel

@{
    ViewBag.Title = "Klanten";
}

<h2>Klanten</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Email</th>
            <th>Postcode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var klant in Model.KlantItems)
        {
            <tr>
                <td>@klant.KlantId</td>

                <td>
                    @(klant.Natuurlijkepersoon != null ?
                        klant.Natuurlijkepersoon?.Voornaam + " " + klant.Natuurlijkepersoon?.Familienaam :
                        klant.Rechtspersoon?.Naam)
                </td>

                <td>
                    @(klant.Natuurlijkepersoon != null ?
                        klant.Natuurlijkepersoon?.GebruikersAccount.Emailadres :
                        "")
                </td>

                <td>@klant.FacturatieAdres.Plaats.Postcode</td>

                <td>
                    <a asp-action="Details" asp-route-id="@klant.KlantId">
                        <button class="btn btn-success">Details</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>