@model List<Bestelling>
@{
	ViewData["Title"] = "KlantBestellingen";
}

<h1>Bestellingen van klant @ViewBag.KlantId</h1>
@if (Model != null && Model.Count > 0)
{
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Besteldatum</th>
				<th>ActiecodeGebruikt</th>
				<th>klantid</th>
				<th>betaald</th>
				<th>betalingscode</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					@* wat willen we laten zien? *@
					<td>@item.BestelId</td>
					<td>@item.Besteldatum</td>
					@if (item.ActiecodeGebruikt)
					{
						<td>ja</td>
					}
					else
					{
						<td>nee</td>
					}
					<td>@item.KlantId</td>
					<td>@item.Betaald</td>
					<td>@item.Betalingscode</td>
				</tr>
			}
		</tbody>
	</table>
	<a asp-action="Details" asp-route-id="@ViewBag.KlantId" class="btn btn-secondary">Terug</a>
}
else
{
	<h1>Geen bestellingen gevonden</h1>
	<a asp-action="Details" asp-route-id="@ViewBag.KlantId" class="btn btn-secondary">Terug</a>
}
