@model List<NatuurlijkePersoonViewModel>
@inject IHttpContextAccessor HttpContextAccessor

<h2>Natuurlijke Personen</h2>

@{
    string? searchvalue = @HttpContextAccessor.HttpContext?.Session.GetString("searchvalueKlant");
    //string? sorteervalue = @HttpContextAccessor.HttpContext?.Session.GetString("sorteer");
}

<form asp-action="ToggleKlantType" method="post">
    <input type="hidden" name="huidigType" value="natuurlijk" />
    <button type="submit" class="btn btn-success">Toon Rechtspersonen</button>
</form>


<div class="formContainer">

    <form class="SearchForm" method="get">

        @{


            if (searchvalue != null)
            {
                <input name="searchValue" type="text" class="form-control" id="inputSearch" value="@searchvalue">
            }
            else
            {
                <input name="searchValue" type="text" class="form-control" id="inputSearch" placeholder="zoekveld">
            }

        }




        <select name="sorteer" class="selectOrder form-select" aria-label="selecteer zoek optie">


            <option selected>Selecteer sorteer optie</option>
            <option value="alfabetisch">Alfabetisch</option>
            <option value="postcode">Postcode</option>

        </select>





        <button class="btn btn-success">zoek</button>


    </form>

    @if(Model.Count > 0)
    {



        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Postcode</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var klant in Model)
                {
                    <tr>
                        <td>@klant.Voornaam</td>
                        <td>@klant.Achternaam</td>
                        <td>@klant.Postcode</td>
                        <td>@klant.Email</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@klant.KlantId">
                                <button class="btn btn-success">Details</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>






    } else
    {
        <h2>Niks gevonden</h2>
    }
