@model IPagedList<RechtspersoonViewModel>
@inject IHttpContextAccessor HttpContextAccessor
@using X.PagedList.Mvc.Core;
@using X.PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    string? searchvalue = @HttpContextAccessor.HttpContext?.Session.GetString("searchvalueKlantRechtspersoon");
    //string? sorteervalue = @HttpContextAccessor.HttpContext?.Session.GetString("sorteer");
}

<h2 class="mb-3 mt-2">Rechtspersonen</h2>

<form asp-action="ToggleKlantType" method="post" class="mb-3">
    <input type="hidden" name="huidigType" value="rechtspersoon" />
    <button type="submit" class="btn btn-success">Toon Natuurlijke Personen</button>
</form>

<div class="formContainer">
    <form class="SearchForm mb-3" method="get">
        @{
            <input name="pageSize" value="@Model.PageSize" type="hidden" />
            if (searchvalue != null)
            {
                <input name="searchValue" type="text" class="form-control" id="inputSearch" value="@searchvalue">
            }
            else
            {
                <input name="searchValue" type="text" class="form-control" id="inputSearch" placeholder="Vul hier een zoekterm in">
            }
        }
        <select name="sorteer" class="selectOrder form-select" aria-label="selecteer zoek optie">
            <option selected>Selecteer sorteer optie</option>
            <option value="alfabetisch">Alfabetisch</option>
            <option value="postcode">Postcode</option>
        </select>

        <button class="btn btn-success">Zoeken</button>
    </form>
</div>


@if (Model.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Naam</th>
                <th>BTW nummer</th>
                <th>Postcode</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var klant in Model)
            {
                <tr>
                    <td>@klant.Naam</td>
                    <td>@klant.BTWNummer</td>
                    <td>@klant.Postcode</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@klant.KlantId">
                            <button class="btn btn-success">Details</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>niks gevonden</h2>
}


<div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
            new
            {
                page = page,
                searchValue = searchvalue,
                // sorteer = sorteervalue,
                pageSize = ViewBag.pageSize
            }),
            new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" /* "pagelist-item" */ },
        PageClasses = new string[] { "page-link" /* "pagelist-item" */ }
    })

    <select id="actionSelect" asp-items="ViewBag.PageSizeKeuze">
    </select>

    @section Scripts {
        <script>
            document.getElementById("actionSelect").onchange = function () {
                var selectedValue = this.value;


                if (selectedValue) {
                    var currentUrl = window.location.href;
                    var url = new URL(currentUrl);
                    var params = url.searchParams;
                    params.set('pageSize', selectedValue);
                    params.set('page', "1");
                    url.search = params.toString();
                    window.location.href = url.toString();
                }
            }
        </script>
    }
</div>

